.background-image {
    background-image: url(https://th.bing.com/th/id/OIP.c4MCiDFgSGLsR_7-4-j0PwHaEK?w=260&h=180&c=7&r=0&o=5&pid=1.7);
    background-size: contain;
    height: 400px;
    width: 100px;
}