#a1::before {
    content: ">>";
  }
  
  #a2::before {
    content: "/ ";
  }
  
  #a3::before {
    content: "/ ";
  }
  
  #a1,
  #a2,
  #a3 {
    text-decoration: none;
    color: green;
    font-weight: bold;
  }
  
  p {
    text-transform: uppercase;
    font-size: large;
  }